:root {
    --bg-primary: #9D2525;
    --bg-footer: #3B3B3B;
    --bg-form-container: #CCA8A8;
    --btn-primary: #D96B05;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

body { 
    background-color: var(--bg-primary);
}

a {
    text-decoration: none;
    color: unset;
}

/* Bootstrap */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.3333%;
}

.col-3 {
    width: 25%;
}

.text-right {
    text-align: right;
}
/* Bootstrap end*/

header {
    background-color: var(--bg-primary);
    padding: 30px 90px;
}

.header-title {
    font-size: 60px;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    font-weight: 900;
    letter-spacing: 10px;
}

.nav-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: end;
    justify-content: flex-end;
}

.nav-menu li {
    margin: 10px 0;
}

.btn-link {
    margin: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}

.btn-primary {
    padding: 10px 15px;
    background-color: var(--btn-primary);
    border: none;
    color: white;
    box-shadow: 0px 2px 2px #3d3d3d;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: var(--bg-footer);
    padding: 30px 90px;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.bg-primary {
    background-color: var(--bg-primary);
    min-height: 60vh;
    padding: 70px 0;
}

.form-container {
    margin: 0px auto;
    padding: 20px 0;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #3d3d3d;
    background-color: var(--bg-form-container);
}

.form-container form {
    margin: 0 80px;
    display: flex;
    flex-direction: column;
}

.form-container input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 20px;
    padding: 5px;
}

.form-container label {
    color: white;
}

.form-title {
    font-size: 20px;
    color: white;
    margin: 20px auto 40px;
    text-align: center;
}

.form-actions {
    margin: 20px 0;
    text-align: center;
}